/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

a {
    cursor: pointer;
    color: #7C5CBF;
    text-decoration: none;
}

a:hover {
    color: #6b47b8;
}


/* Join Page Styles */

.centered-form {
    /* background-image:url('/img/back.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:cover;
     */
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
    /* background: rgb(65, 64, 64); */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 1%;
    width: 20%;
    height: 50%;
    font-size: 1.0rem;
}

.centered-form button {
    margin-top: 5px;
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

.centered-form select {
    margin-bottom: 16px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .centered-form__box {
        box-shadow: 0px 0px 17px 1px #1D1F26;
        background: #F7F7FA;
        padding: 1%;
        width: 350px;
        height: 500px;
        font-size: 1.0rem;
    }
    footer {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .centered-form__box {
        box-shadow: 0px 0px 17px 1px #1D1F26;
        background: #F7F7FA;
        padding: 1%;
        width: 45%;
        height: 45%;
        font-size: 1.0rem;
    }
}


/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll;
    text-align: center
}

#leave-room-also {
    width: 40px;
    margin: 5px;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    background: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .chat__sidebar {
        width: 0px;
    }
    #leave-room-also {
        color: #7C5CBF;
        font-size: 20px;
    }
}


/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}


/* Message Styles */

.message {
    margin-bottom: 16px;
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #6b47b8;
}


/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 5px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 0px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 6px;
    margin: 0 0 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 34px;
    display: flex;
    flex-shrink: 1;
    background: none;
    color: #7C5CBF;
}

@media screen and (max-width: 768px) {
    .compose button {
        font-size: 20px;
    }
}


/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;
    line-height: 1.6
}

.room-title button {
    margin: 5px;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 1%;
    padding: 1% 0;
    position: fixed;
    bottom: 0;
    width: 34%;
}